anthropic==0.51.0
cryptography==44.0.3
exa_py==1.12.1
fastapi==0.115.12
google_api_python_client==2.169.0
httpx==0.28.1
mcp==1.7.1
protobuf==6.30.2
pyairtable==3.1.1
pydantic==2.11.4
python-dotenv==1.1.0
starlette==0.46.2
supabase==2.15.1
uvicorn==0.34.2
